.mh-brand-wrapper {
    display: flex;
}

a.mh-header-primary {
    display: inline-block;
    padding: 5px 15px;
    width: 80px;
}

.mh-header-primary {
    margin-top: 20px;
    fill: var(--color-4, --color-3);
    stroke: transparent;
}