.container-article {
    align-items: flex-start;
    background: var(--color-2);
    border-radius: 8px;
    gap: 19px;
    justify-content: center;
    /* margin: 8px 0; */
    padding: 16px 20px;
    margin-bottom: 3%;
}

.container-article .title{
    margin-bottom: 4%;
}

.container-article,
.container-article-description {
    display: flex;
    flex-direction: column;
}

.container-article-general {
    overflow-y: auto;
    height: 20vh;
}