.container-article {
    align-items: flex-start;
    background: var(--color-2);
    border-radius: 8px;
    gap: 23px;
    justify-content: center;
    margin: 8px 0;
    padding: 16px 20px;
    margin-bottom: 8%;
}

.container-article .title{
    margin-bottom: 4%;
}

.container-article,
.container-article-description {
    display: flex;
    flex-direction: column;
}

.button-primary {
    background-color: var(--color-4);
    box-sizing: border-box;
    font-weight: 700;
    border: 0px;
    border-radius: 9999px;
    padding: 5px 20px;
}

.button-primary span:hover {
    outline: none;
    font-size: 0.875rem;
}