.container-home {
    display: flex;
    margin: 0.3rem;
}

.home-wrapper {
    margin: 0 0 0 0.5rem;
    width: 80%;
    background-color: var(--color-5);
    height: 100vh;
    border-radius: 8px;
}

.app-side-bar {
    width: 20%;
}