.container-home {
    display: flex;
    margin: 0.3rem;
    /* justify-content: center;
    align-items: center; */
}

.home-wrapper {
    margin: 0 0 0 0.5rem;
    width: 80%;
    /* background: rgb(23, 23, 26); */
    background: linear-gradient(90deg, rgba(23, 23, 26, 1) 44%, rgba(24, 24, 24, 1));
    /* min-width: 100vh; */
    height: 100vh;
    border-radius: 8px;
}

.app-side-bar {
    width: 20%;
    /* height: 100vh; */
}