.section--generic__player--zone.big {
    overflow-y: scroll;
    /* overflow-x: hidden; */

    height: 184px;
}

.section--generic__player--zone.offline {
    /* overflow-y: unset; */
    height: 320px;
}

.section--generic {
    /* margin-bottom: 2rem; */
    background-color: transparent;
    /* overflow-y: auto;
    height: 250px; */
}

.section--generic h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

.section--generic h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section--generic__player--zone .player--list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.15rem;
}

.section--generic__player--zone .player--list.card-small {
    grid-template-columns: repeat(4, 1fr);    
}

.section--generic__player--zone .player--list.card-big {
    grid-template-columns: repeat(5, minmax(80px, 1fr));
    /* margin-bottom: 8%; */

}

.section--generic__player--zone .player--list.card-limit {
    grid-template-columns: repeat(5, 1fr);
    /* margin-bottom: 8%; */
}

.section--generic .container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

/* app-side-bar {
    height: 600px;
} */

.section--generic .show-all {
    font-weight: 500;
    cursor: pointer;
    color: var(--color-6);
}

.section--generic .show-all:hover {
    text-decoration: underline;
}