.container-home {
    display: flex;
    margin: 0.5rem;
}

.offline-page {
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    margin: 0 0 0 0.5rem;
    width: 79%;
    background-color: rgb(18, 18, 18);
    height: 645px;
    border-radius: 8px;
}

.app-side-bar {
    width: 21%;
}

.contentSpacing {
    margin: 0;
    max-width: 1955px;
    padding: 15px 0  0 1rem;
}